<% content_for :title, "Editing trial center facility" %>

<h1>Editing trial center facility</h1>

<%= render "form", trial_center_facility: @trial_center_facility %>

<br>

<div>
  <%= link_to "Mostrar", @trial_center_facility %> |
  <%= link_to "Retornar a los CEC", trial_center_facilities_path %>
</div>
