<% content_for :title, "New trial center facility" %>

<h1>New trial center facility</h1>

<%= render "form", trial_center_facility: @trial_center_facility %>

<br>

<div>
  <%= link_to "Back to trial center facilities", trial_center_facilities_path %>
</div>
