<% content_for :title, "Editing sponsor" %>

<h1>Editing sponsor</h1>

<%= render "form", sponsor: @sponsor %>

<br>

<div>
  <%= link_to "Mostrar", @sponsor %> |
  <%= link_to "Retornar a Patrocinadores", sponsors_path %>
</div>
