<% content_for :title, "Editing trial city" %>

<h1>Editing trial city</h1>

<%= render "form", trial_city: @trial_city %>

<br>

<div>
  <%= link_to "Show this trial city", @trial_city %> |
  <%= link_to "Back to trial cities", trial_cities_path %>
</div>
